.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  min-width: 320px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 50.47px;
    padding-bottom: 66.15px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    position: relative;
    padding-top: 70px;
    padding-bottom: 92.5px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 125px;
    padding-bottom: 144.5px;
  }
}

@media screen and (max-width: 767px) {
  .hero__background {
    width: 208px;
    height: 148.85px;
  }
}

@media screen and (min-width: 768px) {
  .hero__background {
    width: 375.75px;
    height: 268.9px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__background {
    width: 841.55px;
    height: 602.24px;
  }
}

@media screen and (max-width: 767px) {
  .hero__imgbox {
    position: relative;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero__imgbox {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(100%, 30%);
            transform: translate(100%, 30%);
    width: 375.75px;
    height: 320.64px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__imgbox {
    -webkit-transform: translate(70%, 10%);
            transform: translate(70%, 10%);
    width: 841.55px;
    height: 718.14px;
  }
}

.hero__picture {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(12%, -5%);
          transform: translate(12%, -5%);
}

@media screen and (max-width: 767px) {
  .hero__picture {
    width: 177.75px;
    height: 177.5px;
  }
}

@media screen and (min-width: 768px) {
  .hero__picture {
    width: 321.11px;
    height: 320.64px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__picture {
    width: 719.17px;
    height: 718.14px;
  }
}

.hero__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
}

@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 20px;
    line-height: 136%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 58px;
    line-height: 130%;
    margin-bottom: 24px;
  }
}

.hero__text1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

@media screen and (min-width: 1280px) {
  .hero__text1 {
    font-size: 20px;
    line-height: 164.9%;
  }
}

.hero__text2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: #111518;
}

@media screen and (min-width: 1280px) {
  .hero__text2 {
    font-size: 20px;
    line-height: 164.9%;
  }
}

.hero__text3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: #ff6b09;
  margin-bottom: 30px;
}

@media screen and (min-width: 1280px) {
  .hero__text3 {
    font-size: 20px;
    line-height: 164.9%;
    margin-left: 4px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__textbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .hero__button {
    width: 260px;
  }
}

@media screen and (min-width: 768px) {
  .hero__button {
    width: 259px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    background-color: #ff6b09;
    color: #ffffff;
    padding: 14px 1px;
    border: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero__button {
    width: 303px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
  }
}

@media screen and (max-width: 767px) {
  .advantages {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages {
    padding-top: 96.5px;
  }
}

.advantages__item {
  position: relative;
}

@media screen and (max-width: 767px) {
  .advantages__item {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #111518;
    margin-left: 68.82px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    -ms-flex-preferred-size: calc(100% / 3 - 42px);
        flex-basis: calc(100% / 3 - 42px);
    margin-left: 89.82px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item {
    font-size: 20px;
    line-height: 164.9%;
  }
}

.advantages__item1::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -68.82px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  background-image: url(../images/icon-svg.svg);
  width: 61px;
  height: 62px;
}

@media screen and (min-width: 1280px) {
  .advantages__item1::before {
    background-image: url(../images/icon-svg-1280.svg);
    width: 100px;
    height: 102px;
  }
}

.advantages__item2::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -68.82px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  background-image: url(../images/icon-svg2.svg);
  width: 61px;
  height: 62px;
}

@media screen and (min-width: 1280px) {
  .advantages__item2::before {
    background-image: url(../images/icon-svg2-1280.svg);
    width: 100px;
    height: 102px;
  }
}

.advantages__item3::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -68.82px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  background-image: url(../images/icon-svg.svg);
  width: 61px;
  height: 62px;
}

@media screen and (min-width: 1280px) {
  .advantages__item3::before {
    background-image: url(../images/icon-svg-1280.svg);
    width: 100px;
    height: 102px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -21px;
  }
}
/*# sourceMappingURL=main.css.map */